@model ProjectViewModel
@{ ViewData["Title"] = "Editor"; }

@section Scripts {
    <script src="~/js/editor.js" asp-append-version="true"></script>
}

<div id="editor">using System;

namespace @Model.Name {
    class Program {
        static void Main(string[] args) {
            Console.WriteLine("Hello World!");
        }
    }
}</div>