@model ProjectViewModel
@{ ViewData["Title"] = "Editor"; }

<div id="toolbar">
    <button class="toolbar-btn-run" onclick="eventHandler.editor.buildProject();" title="Run code (F5)">
        <img class="toolbar-btn-run-img">
        <span style="margin: 2px 0px 0px 0px;">Run</span>
    </button>
    <button class="toolbar-btn-step-over" onclick="eventHandler.editor.stepOver();" title="Step over (F10)">
        <img class="toolbar-btn-step-over-img">
        <span style="margin: 2px 2px 0px 0px;">Step over</span>
    </button>
</div>

<div id="editor"></div>
<div id="output"></div>

@section Scripts {
    <script>
        var require = { paths: { 'vs': '/lib/monaco-editor/vs' } };
        var project = @Json.Serialize(@Model);
    </script>
    <script type="text/javascript" src="~/lib/monaco-editor/vs/loader.js"></script>
    <script type="text/javascript" src="~/lib/monaco-editor/vs/editor/editor.main.nls.js"></script>
    <script type="text/javascript" src="~/lib/monaco-editor/vs/editor/editor.main.js"></script>
    <script src="~/js/components/editor.js" asp-append-version="true"></script>
    <script src="~/js/components/output.js" asp-append-version="true"></script>
    <script src="~/js/components/editor.event.handler.js" asp-append-version="true"></script>
    <script src="~/js/editor.main.js" asp-append-version="true"></script>
}