@model ProjectViewModel
@{ ViewData["Title"] = "Editor"; }

@section Scripts {
    <script src="~/js/editor.js" asp-append-version="true"></script>
}

<div id="editor">@Model.Code</div>
<div id="output"></div>