@model ProjectViewModel
@{ ViewData["Title"] = "Editor"; }

<div id="editor"></div>
<div id="output"></div>

@section Scripts {
    <script>
        var require = { paths: { 'vs': '/lib/monaco-editor/vs' } };
        var project = @Json.Serialize(@Model);
    </script>
    <script type="text/javascript" src="~/lib/monaco-editor/vs/loader.js"></script>
    <script type="text/javascript" src="~/lib/monaco-editor/vs/editor/editor.main.nls.js"></script>
    <script type="text/javascript" src="~/lib/monaco-editor/vs/editor/editor.main.js"></script>
    <script src="~/js/components/editor.js" asp-append-version="true"></script>
    <script src="~/js/components/output.js" asp-append-version="true"></script>
    <script src="~/js/components/editor.event.handler.js" asp-append-version="true"></script>
    <script src="~/js/editor.main.js" asp-append-version="true"></script>
}